{% extends 'myweb/base.html' %}
{% block title %}Ma Tieow Kan{% endblock %}
{% block content %}
<!--
    Header start 
	============================== -->
<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <h1>Ma Tieow Kan</h1>
                                </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#hero-area">Home</a></li>
                                    <li><a href="#about-us">about us</a></li>
                                    {% if cafes %}<li><a href="#blog">Cafe</a></li>{% endif %}
                                    {% if user.is_anonymous %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'signup' %}">Signup</a></li>
                                    {% else %}
                                    <li><a href="#contact-us">contacts</a></li>
                                    <li><a href="{% url 'search' %}">Search</a></li>
                                    <li><a>สวัสดี {{ user }}!!</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav><!-- header close -->
<!--
    Slider start
    ============================== -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3><span>Hightlight</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-1.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-2.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-3.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-4.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-1.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-2.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-3.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="static/images/slider/slider-img-4.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
<!--
    about-us start
    ============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms"
                        src="static/images/cooker-img.png" alt="cooker-img">
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <span>MA TIEOW KAN</span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Website
                        ที่จะพาคุณไปชมแนะนำสถานที่ถ่ายรูปชิคๆ คาเฟ่ชิวๆ สายหวานสายขนมต้องชิม<br>
                        ซึ่งเราได้รวบรวมวาร์ปน่าไปไว้ที่นี่ เดี๋ยวนี้เวลาที่เราจัดทริป วางแผนการท่องเที่ยว
                        ทุกคนมักจะต้องหาคาเฟ่ หรือร้านกาแฟดีๆ บรรจุไว้ในทริปเสมอ <br>เพราะปฏิเสธไม่ได้เลยว่า คาเฟ่
                        เป็นอีกหนึ่งเหตุผล ที่ทำให้นักท่องเที่ยวหลายๆ คน ตัดสินใจไปเที่ยวได้ง่ายขึ้นนั่นเอง <br>
                        บางร้านก็เน้นรสชาติของกาแฟ บางร้านก็เน้นสไตล์การตกแต่งร้านที่แปลกใหม่ไม่เหมือนใคร
                        บางร้านก็วิวสวย บางร้านก็มีครบทั้งสามอย่างเลย ก็ยิ่งดีขึ้นไปอีก!!</p>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->
{% if cafes %}
<!--
    blog start
    ============================ -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">All <span>Cafe</span></h1>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="media/{{ cafes.0.img }}" alt="blog-img" width="293" height="220">
                            </div>
                            <div class="content-right">
                                <a href="/cafe/{{ cafes.0.id }}"><h3>{{ cafes.0.name }}</h3></a>
                                <p>{{ cafes.0.desc }}...
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="media/{{ cafes.1.img }}" alt="blog-img" width="293" height="220">
                            </div>
                            <div class="content-right">
                                <a href="/cafe/{{ cafes.1.id }}"><h3>{{ cafes.1.name }}</h3></a>
                                <p>{{ cafes.1.desc }}...
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img-2">
                                <img src="media/{{ cafes.2.img }}" alt="blog-img" width="293" height="220">
                            </div>
                            <div class="content-left">
                                <a href="/cafe/{{ cafes.2.id }}"><h3>{{ cafes.2.name }}</h3></a>
                                <p>{{ cafes.2.desc }}...
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img-2">
                                <img src="media/{{ cafes.3.img }}" alt="blog-img" width="293" height="220">
                            </div>
                            <div class="content-left">
                                <a href="/cafe/{{ cafes.3.id }}"><h3>{{ cafes.3.name }}</h3></a>
                                <p>{{ cafes.3.desc }}...
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="media/{{ cafes.4.img }}" alt="blog-img" width="293" height="220">
                            </div>
                            <div class="content-right">
                                <a href="/cafe/{{ cafes.4.id }}"><h3>{{ cafes.4.name }}</h3></a>
                                <p>{{ cafes.4.desc }}...
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="media/{{ cafes.5.img }}" alt="blog-img" width="293" height="220">
                            </div>
                            <div class="content-right">
                                <a href="/cafe/{{ cafes.5.id }}"><h3>{{ cafes.5.name }}</h3></a>
                                <p>{{ cafes.5.desc }}...
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" href="{% url 'search' %}"
                        data-wow-delay="1200ms" href="#" role="button">ค้นหาเพิ่มเติม</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #blog close -->
{% endif %}

{% if user.is_authenticated %}
<!--
    CONTACT US  start
    ============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">CONTACT
                        <span>US</span></h1>
                    <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">ส่งข้อความหา
                        <span>เรา</span> </h3>
                    <form action="add-contact" method="POST">
                        {% csrf_token %}
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ชื่อ - สกุล" name="name">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                            <textarea class="form-control" rows="3" placeholder="รายละอียด" name="desc"></textarea>
                        </div>

                        <input type="submit" value="ส่งข้อความ" class="btn btn-default wow bounceIn"
                            data-wow-duration="500ms" data-wow-delay="1300ms" role="button">
                    </form>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
{% endif %}
{% endblock %}